# Firebase Auth (Identity Platform)
# Obtener estos valores desde Firebase Console > Project Settings > Tu app web
VITE_FIREBASE_API_KEY=AIzaSy...
VITE_FIREBASE_AUTH_DOMAIN=enci-intel-prod.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=enci-intel-prod

# Backend
VITE_API_URL=http://localhost:8000/api/v1
VITE_APP_ENV=development
